.vs/ProjectSettings.json
.vs/PINNforPDE/FileContentIndex/a383c5ab-6931-4e85-aeab-a10887b05205.vsidx
.vs/slnx.sqlite
.vs/PINNforPDE/FileContentIndex/ade16eb5-980c-44ae-bdcb-4503417e428c.vsidx
.vs/PINNforPDE/FileContentIndex/44117f5a-4139-48f0-a2dd-4949acd6ade3.vsidx
.vs/PINNforPDE/v17/DocumentLayout.json
.vs/PINNforPDE/v17/DocumentLayout.backup.json
.vs/PINNforPDE/v17/.wsuo
.vs/PINNforPDE/FileContentIndex/ca21dfac-e271-4b69-bee4-3a2ff6306704.vsidx
.vs/PINNforPDE/FileContentIndex/2bb349fc-420e-4b4d-a43f-3628577c6008.vsidx
/.vs/PINNforPDE/FileContentIndex
